/* www\.instagram\.com */

main.SCxLW.o64aR,
div.t30g8.L1C6I {
  background: #fff1f7 !important;
}

div._8UZ6e,
div.COOzN.MnWb5.YT6rB {
  display: none !important;
}

div.cGcGK {
  float: none;
  max-width: none;
}

div.cGcGK > div:nth-last-of-type(2) > div {
  flex-direction: row !important;
  flex-wrap: wrap;
}
article._8Rm4L.M9sTE.L_LMM.SgTZ1.ePUX4 {
  width: calc(51% - 20px);
  margin-bottom: 20px !important;
}
article._8Rm4L.M9sTE.L_LMM.SgTZ1.ePUX4:nth-of-type(2n) {
  margin-left: 20px;
}

._47KiJ .Fifk5:nth-of-type(3) {
  display: none;
}
