/* open\.spotify\.com */
/* updated: 04.09.2020 */
/* based off of fairyfloss by SailorHG https://github.com/sailorhg/fairyfloss */

/* COLOUR VARIABLES */
:root {
  --dark: #1e1b28;
  --medium: #2F2B40;
  --light: #625a88;
  --accent1: #F3A7BD;
  --accent2: #B5FFDD;
}

/* USER */
._61ab7cffe8117f2123af98dc70709f39-scss, ._34098cfd13d48e2910679f35aea2c377-scss:hover, ._7d5bb5bfd500c0c322fb865b69181717-scss {
  background: var(--medium) !important;
}

/* SIDEBAR */
.spotify-logo--text path {
  color: var(--accent1) !important;
}
.Root__nav-bar {
  /* SIDE BAR */
  background: var(--medium) !important;
}
._435d17cddae8437d6182df7623d0c41b-scss._6fe74cef24d5ae2ba99a619cab07aef4-scss {
  /* HIDE 'INSTALL APP' BUTTON */
  display: none;
}

/* MAIN AREA */
#main {
  background: var(--dark) !important;
}
h1._77ccab85bb794646035d39a339c41781-scss {
  color: var(--accent1) !important;
}
._21f29c9d16bf3b2adbeb2fe04bdcbe8b-scss {
  /* SCROLL HEADER */
  background:  var(--light) !important;
}
button._11f5fc88e3dec7bfec55f7f49d581d78-scss._238c8d0c29802f43d5fb66614d042cfa-scss {
  display: none !important;
}
._9764a8966c108117bdf6f47cb601747a-scss {
  /* ALBUM VIEW ANTI-GRADIENT */
  background: transparent !important;
}
._1066d722d4c5fe45076daa358de0a969-scss, ._898a0ac18270b333d95d8402650e2c46-scss {
  /* PLAYLIST VIEW ANTI-GRADIENT */
    background: transparent !important;
}
._59ed5f1313c7c4b211995d2b6463683f-scss {
    /* PLAYLIST VIEW ANTI-GRADIENT */
    display: none !important;
}
._1aca8ea6d314e58957d99cc0df0d2ca1-scss {
  background-image: none !important;
  background: transparent !important;
}
._17de82b47b8c1954963d20ed56b2f730-scss {
  background: transparent !important;
  display: none !important;
}
._3cf7cb92e8b34cd675db241406113852-scss {
  /* CARDS */
  background: var(--medium) !important;
}
._11f5fc88e3dec7bfec55f7f49d581d78-scss._238c8d0c29802f43d5fb66614d042cfa-scss {
  /* PLAY BUTTON */
  background: var(--accent1) !important;
}
.tracklist-row--active .position, .tracklist-row--active .tracklist-duration, .tracklist-row--active .tracklist-name, .tracklist-row--active .tracklist-play-pause {
  color: var(--accent1) !important;
}


/* BOTTOM NAV NOW PLAYING */
.now-playing-bar-container {
  background: var(--medium) !important;
}
.control-button--active {
  color: var(--accent2);
}
.control-button--active-dot::after {
  background: var(--accent2) !important;
}
.control-button--active:not(.control-button--disabled):hover {
  color: var(--accent2);
}
.fa20bdf1bbbced663caf5b120c30da57-scss {
  /* YOURE LISTENING ON ANOTHER DEVIDE BANNER */
  background: var(--accent1) !important;
}
.fa20bdf1bbbced663caf5b120c30da57-scss::after {
  border-bottom: 10px solid var(--accent1) !important;
}
